<phpunit colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true">
	<testsuites>
		<testsuite name="Timestamp Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<exclude>
				<file>./src/defines.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
